TELEGRAM_BOT_TOKEN=your_telegram_bot_token
ANTHROPIC_API_KEY=your_anthropic_api_key
NOTION_API_KEY=your_notion_api_key
NOTION_BACKTEST_DB_ID=ba50d467-df44-83e3-8099-07455408952f
NOTION_INVESTMENT_DB_ID=927aa3b9-94f0-4559-8450-3e55516c5a75
NOTION_STAT_DB_ID=8530d467-df44-83bf-b696-07a571396226
ALLOWED_USER_ID=your_telegram_user_id
